# OS
.DS_Store
.vscode
*.code-workspace

# Node.js
node_modules
package-lock.json

# Java
build
.gradle
.idea
*.iml
local.properties
.classpath
.project

# Python
*.pyc
__pycache__
.venv/
Pipfile.lock

# .NET
bin
obj
*.sln
.vs

# PHP
vendor
composer.lock

# Ruby
Gemfile.lock

# Credentials
key.json
